*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1230px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.text_min {
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
}

.df_r_c_c_sb {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}