header {
    background: $primary;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    a {
        margin-left: 25px;
        color: $white
    }
}