.nav {
    padding-top: 20px;
    text-align: center;

    .logo img {
        max-width: 40px;
    }

    nav {
        gap: 32px;

        a {
            color: $nav;
            font-size: 15px;
            line-height: 20px;
        }

        .is_active {
            color: $primary;
        }
    }

    .basket img {
        max-width: 55px;
        margin-top: -10px;
    }
}